.gradle
build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
.idea/workspace.xml
.idea/libraries/Gradle__com_beust_jcommander_1_48.xml
.idea/libraries/Gradle__org_apache_ant_ant_1_9_7.xml
.idea/libraries/Gradle__org_beanshell_bsh_2_0b4.xml
.idea/libraries/Gradle__org_testng_testng_6_9_13_6.xml
.idea/libraries/Gradle__org_apache_ant_ant_launcher_1_9_7.xml
